.DS_Store
*~
*#
*.pem
deploy/janrain.key
deploy/GITHUB_CLIENT_SECRET
deploy/setup/CONFIG
*.pyc
*gz
*.tre
*.out
*.jar
*.tmp
asterales/ott
asterales/subset
asterales/synth/Source_nexsons
asterales/taxomachine.db
asterales/treemachine.db
trees_report/shards
trees_report/work
