# Deployment system configuration file

# Configuration for asterales.opentreeoflife.org
# This is the Asterales model village

OPENTREE_TAG=asterales
OPENTREE_HOST=asterales.opentreeoflife.org
OPENTREE_COMPONENTS='opentree phylesystem-api oti taxomachine treemachine smasher'

CERTIFICATE_FILE=/etc/letsencrypt/live/asterales.opentreeoflife.org/fullchain.pem
CERTIFICATE_KEY_FILE=/etc/letsencrypt/live/asterales.opentreeoflife.org/privkey.pem

OPENTREE_WEBAPI_HOST=${OPENTREE_HOST}

OPENTREE_API_BASE_URL=//${OPENTREE_WEBAPI_HOST}/phylesystem/v1
TREEMACHINE_BASE_URL=//${OPENTREE_WEBAPI_HOST}/treemachine/v1
TAXOMACHINE_BASE_URL=//${OPENTREE_WEBAPI_HOST}/taxomachine/v1
OTI_BASE_URL=//${OPENTREE_WEBAPI_HOST}/oti/v1

# TREEVIEW_GITHUB_CLIENT_ID=dff0cf4bb02360426224
# TREEVIEW_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/opentree/user/login

# CURATION_GITHUB_CLIENT_ID=d02feed213fd327e3005
# CURATION_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login

export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log

opentree_branch peyotl master
opentree_branch opentree development
opentree_branch phylesystem-api master
opentree_branch ot-base master
opentree_branch oti master
opentree_branch treemachine master
opentree_branch taxomachine master
opentree_branch reference-taxonomy conflict

OPENTREE_DOCSTORE=asterales-phylesystem
COLLECTIONS_REPO=collections-0
AMENDMENTS_REPO=amendments-0
FAVORITES_REPO=favorites-0

# phylesystem API
# GITHUB_CLIENT_ID=9a81785e2af910035667
# GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo

# /home/opentree/ is problematic.

OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=log/peyotl.log

# OPENTREE_DEFAULT_APPLICATION=welcome
